@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../abstracts/extends";

.section-review__title {
  max-width: 535px;
}

.review-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;

  @include mixins.media-medium {
    column-gap: 18px;
  }

  @include mixins.media-small {
    grid-template-columns: 1fr;
    row-gap: 18px;
  }
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 570px;
  height: 100%;
  min-height: 673px;
  padding: 40px;

  background-color: var(--color-beige-200);

  @extend %border-radius;

  @include mixins.media-small {
    min-height: unset;
    padding: 21px;
  }
}

.review-card__text {
  margin-bottom: 1.22em;

  @include mixins.media-small {
    margin-bottom: 1.42em;
  }
}

.review-card__text:last-of-type {
  margin-bottom: unset;
}

.review-card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 68px;

  @include mixins.media-small {
    align-items: flex-end;
    margin-top: 43px;
  }
}

.review-card__avatar {
  width: 75px;
  height: 75px;

  border-radius: 100px;
}

.review-card__name {
  margin-bottom: 10px;
}

.review-card__tour {
  color: var(--color-gray-300);
}
