@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../abstracts/extends";

.section-photos {
  max-width: 1860px;

  @include mixins.media-medium {
    max-width: 984px;
  }
}

.gallery {
  display: grid;
  gap: 30px;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(20, 1fr);

  @include mixins.media-medium {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }

  @include mixins.media-small {
    column-gap: 10px;
    row-gap: 18px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 110px;
  }
}

.gallery__img {
  display: block;
  grid-column: span 5;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @extend %border-radius;

  @include mixins.media-medium {
    grid-column: span 4;
  }

  @include mixins.media-small {
    grid-column: span 3;
  }
}

@for $i from 5 through 9 {
  .gallery__img:nth-child(9n + #{$i}) {
    grid-column: span 4;
  }
}

@media (max-width: variables.$breakpoint-medium) {
  .gallery__img:nth-child(18n + 2),
  .gallery__img:nth-child(18n + 13),
  .gallery__img:nth-child(9n + 7) {
    display: none;
  }

  @for $i from 5 through 9 {
    .gallery__img:nth-child(9n + #{$i}) {
      grid-column: span 3;
    }
  }
}

@media (max-width: variables.$breakpoint-small) {
  .gallery__img:nth-child(1) {
    padding-right: 4px;
  }
  .gallery__img:nth-child(4) {
    padding-left: 4px;
  }

  @for $i from 5 through 9 {
    .gallery__img:nth-child(9n + #{$i}) {
      grid-column: span 2;
    }
  }

  $pictures: 3, 6, 7;

  @each $el in $pictures {
    .gallery__img:nth-child(9n + #{$el}) {
      display: none;
    }
  }
}