@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../abstracts/extends";

.section-select-tour__title {
  margin-bottom: 35px;

  @include mixins.media-small {
    margin-bottom: 30px;
  }
}

.section-select-tour__tour-tabs {
  margin-bottom: 105px;

  @include mixins.media-small {
    margin-bottom: 52px;
  }
}

.tour-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 30px;

  @include mixins.media-small {
    column-gap: 10px;
  }
}

.tour-tabs__btn {
  position: relative;
  cursor: pointer;

  &::after {
    @include mixins.underline(-5px, 2px, var(--color-black));
  }

  @media (hover: hover) {
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  @include mixins.media-small {
    &::after {
      bottom: -1px;
    }
  }
}

.tour-tabs__btn_active {
  color: var(--color-orange-200);

  &::after {
    background-color: var(--color-orange-200);
    transform: scaleX(1);
  }
}

.tour-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  @include mixins.media-medium {
    gap: 18px;
  }
}

.tour-card {
  position: relative;
  width: 370px;
  height: 531px;

  color: var(--color-white);
  background-image: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(232, 130, 130, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%
  );
  overflow: hidden;
  cursor: pointer;

  @extend %border-radius;

  @include mixins.media-medium {
    width: 100%;
    max-width: 450px;
  }

  @include mixins.media-small {
    height: 318px;
  }
}

.tour-card__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: transform 0.3s ease;
}

@for $i from 1 through 6 {
  .tour-card:nth-child(#{$i}) .tour-card__bg {
    background-image: url(./assets/img/tour/#{$i}.jpg);
  }
}

@media (hover: hover) {
  .tour-card:hover .tour-card__bg {
    transform: scale(1.2);
  }
}

.tour-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.tour-card__header {
  padding: 50px;

  transition: padding 0.3s ease;

  @include mixins.media-small {
    padding: 24px;
  }
}

@media (hover: hover) and (min-width: variables.$breakpoint-medium) {
  .tour-card:hover .tour-card__header {
    padding: 40px;
  }
}

.tour-card__title {
  max-width: 246px;
  margin-bottom: 15px;

  @include mixins.media-medium {
    max-width: unset;
  }
}

.tour-card__btn {
  margin: 43px 31px;

  @extend %btn-details;

  @media (hover: hover) {
    .tour-card:hover & {
      background-color: var(--color-green-400);
    }

    .tour-card:active & {
      background-color: var(--color-orange-200);
    }
  }

  @include mixins.media-small {
    margin: 19px 6px;
  }
}
