@use "./mixins";

%btn-details {
  display: flex;
  align-items: center;
  column-gap: 15px;
  max-width: min-content;
  padding: 7px 20px;

  border-radius: 50px;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

%border-radius {
  border-radius: 50px;

  @include mixins.media-small {
    border-radius: 20px;
  }
}
