@use "./variables";
@use "./mixins";

.footer {
  padding: 30px;
  background-color: var(--color-beige-200);
  color: var(--color-gray-300);
}

.footer__content {
  display: flex;
  max-width: 1170px;
  justify-content: space-between;
  margin: 0 auto;
}

.contacts-list {
  display: flex;
  color: var(--color-black);
  column-gap: 25px;
}

.contacts-list__link {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.contacts-list__link-title {
  position: relative;

  &::after {
    @include mixins.underline(-2px, 1px, var(--color-black));
  }

  @media (hover: hover) {
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

@media screen and (max-width: variables.$tabletWidth) {
  .footer__content {
    max-width: 918px;
  }
}

@media screen and (max-width: variables.$mobileWidth) {
  .footer {
    padding: 21px;
  }

  .footer__content {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 7px;
  }

  .contacts-list {
    column-gap: 15px;
  }

  .contacts-list__link {
    column-gap: 1px;
  }
}
