@use "./variables";

:root {
  --color-black: #1b1f2b;
  --color-white: #ffffff;
  --color-orange-100: #f8e6be;
  --color-orange-200: #efa501;
  --color-green-100: #e0f0e5;
  --color-green-200: #627f7e;
  --color-green-300: #3b7e7b;
  --color-green-400: #286562;
  --color-gray-300: #a6a6a6;
  --color-gray-200: #d9dfdb;
  --color-gray-100: #f1f3f2;
  --color-beige-100: #f9f7f4;
  --color-beige-200: #f4f0e9;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
}

.body {
  position: relative;
  margin: 0;
  background-color: var(--color-beige-100);
  color: var(--color-black);
  font-family: "Roboto", sans-serif;
}

.main {
  padding: 0 30px;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title-h1 {
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.09;
}

.title-h2 {
  font-size: 59px;
  font-weight: 700;
  line-height: 1.24;
}

.title-h3 {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.22;
}

.text_big {
  font-size: 23px;
  font-weight: 700;
  line-height: 1.22;
}

.text_normal {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.42;
}

.text_small {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.42;
}


@media screen and (max-width: variables.$mobileWidth) {
  .title-h1 {
    font-size: 34px;
    line-height: 1.12;
  }

  .title-h2 {
    font-size: 34px;
    letter-spacing: 0.02em;
    line-height: 1.12;
  }

  .title-h3 {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 1.2;
  }

  .text_big {
    font-size: 16px;
    line-height: 1.42;
  }

  .text_normal {
    font-size: 16px;
  }

  .text_small {
    font-size: 16px;
  }
}
