@use "./variables";

.section-hero {
  margin-top: 0;
  padding-top: 119px;
  padding-bottom: 120px;
  color: var(--color-white);
  row-gap: 50px;
  text-align: center;
}

.hero-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 831px;
  background-color: #2b351c;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 39.9%
    ),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./assets/img/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-hero__subtitle {
  max-width: 562px;
}

.section-hero__btn {
  padding: 5px 20px;
  border-radius: 10px;
  background-color: var(--color-white);
  color: var(--color-black);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-orange-200);
      color: var(--color-white);
    }
  }

  &:active {
    background-color: var(--color-orange-100);
    color: var(--color-black);
  }
}

@media screen and (max-width: variables.$tabletWidth) {
  .section-hero {
    padding-top: 117px;
  }

  .section-hero__subtitle {
    max-width: 470px;
  }
}

@media screen and (max-width: variables.$mobileWidth) {
  .section-hero {
    padding-top: 50px;
    padding-bottom: 53px;
    row-gap: 40px;
  }

  .hero-bg {
    max-height: 488px;
  }

  .section-hero__subtitle {
    max-width: 310px;
  }
}
